<% content_for(:title) do %>
  Postbag &mdash; Error
<% end %>

<!-- CONTENT -->
<div class="container">
  <section class="section vertical-center">
    <div class="wrapper narrow">
      <div class="column-100">
        <p>An error occurred: <%= @last_error %></p>
        <a href="/reset" class="button" role="button">Try again</a>
      </div>
    </div>
  </section>
</div>
