<% content_for(:title) do %>
  Postbag - Notebooks
<% end %>

<% content_for(:navigation) do %>
  <li class=""><span class="icon-logo logo"></span></a></li>
  <li class=""><span class="icon-arrow-right-32px breadcrumb"></span></li>
  <li class=""><%= username %></li>
  <li class=""><span class="icon-arrow-right-32px breadcrumb"></span></li>
  <li class=""><a href="/notebooks">Choose a notebook</a></li>
<% end %>

<!-- CONTENT -->
<% if !authorized %>
  <div class="alert alert-danger">You need to <a href='/requesttoken'>authorize</a> first.</div>
<% else %>
  <section class="">
    <div class="wrapper">
      <% notebooks.each do |notebook| %>
        <div class="column-25 notebook-container">
          <a href="/notebooks/<%= notebook.guid %>/notes" class="notebook-cover"><%= notebook.name %></a>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<% content_for(:js) do %>
  <script src="./js/site.js"></script>
<% end %>
