<% content_for(:title) do %>
  Postbag
<% end %>

<% content_for(:navigation) do %>
  <li class=""><a href="/"><span class="icon-logo logo"></span></a></li>
  <li class=""><span class="icon-arrow-right-32px breadcrumb"></span></li>
  <li class=""><a href="/">Authenticate</a></li>
  <li class="disabled"><span class="icon-arrow-right-32px breadcrumb"></span></li>
  <li class="disabled">Choose a notebook</li>
<% end %>

<!-- CONTENT -->
<div class="container">
  <section class="section vertical-center">
    <div class="wrapper narrow">
      <div class="column-100">
        <h3 class="primary-heading">You need to authorize with Evernote first.</h3>
        <% if session[:access_token] %>
          <a href="/reset" class="button button-icon-left" role="button"><span class="icon-refresh-16px"></span>&nbsp;&nbsp;Reset Token</a>
        <% else %>
          <a href="/requesttoken" class="button button-icon-left" role="button"><span class="icon-lock-16px"></span>&nbsp;&nbsp;Authorize with Evernote</a>
        <% end %>
      </div>
    </div>
  </section>
</div>
