/*  COLUMNS  */

[class*='column-'] {
	width: 100%;
	padding: 0 20px;
	float: left;
	display: inline-block;
	position: relative;
}

.column-20 {width: 20%}
.column-25 {width: 25%}
.column-33 {width: 33.33%}
.column-40 {width: 40%}
.column-50 {width: 50%}
.column-60 {width: 60%}
.column-66 {width: 66.66%}
.column-75 {width: 75%}
