/* alt fonts */

// #header, #footer, #concept-notice, p.error, p.success {
// 	font: normal 400 16px/175% "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
// }
//
// form, h1, h2, .post h1 + p, .post h1 + p, .post-data {
// 	font: normal 400 16px/36px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
// }

h1, h2 {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 300;
	word-wrap: break-word;
}

h2 {
	font-size: 28px;
}

/* pre code style */

pre, code {
	word-wrap: break-word;
	font: normal 600 16px/26px $font-code;
	border: 1px solid #2c2f34;
	background: #474b53;

	border-radius: 4px;
}

pre {
	margin: 0 0 15px 0;
	padding: 12px 18px;
	color: #fff;
	overflow-x: scroll;
}

code {
	margin: 0 2px;
	padding: 3px 5px 2px 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

pre code {
	margin: 0;
	padding: 0;
	font-size: inherit;
	color: inherit;
	border: none;
	background: none;
}
